/*
                                          ////////////////////////////
                                          //        My CSS          //
                                          //////////////////////////// 

*/

/*----------  TAGS  ----------*/
html {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fefefe;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

hr {
  border-top: 1.5px solid #1d1f4c;
  margin: 60px 0 60px 0;
}

.link {
  color: inherit;
  text-decoration: inherit;
}

.link:hover {
  color: inherit;
}

/*----------  NAV-BAR  ----------*/

.m-navbar {
  background-color: #1d1f4c;
  padding: 0;
  margin-top: 0;
  width: 100%;
  height: 160px;
}

.container-nav {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 15px 0;
  /*border: 1px solid greenyellow;*/
  text-align: center;
  font-size: 30px;
}

.container-title {
  display: flex;
}

.nav-title {
  margin: 0 auto;
  font-size: 70px;
  font-weight: 450;
  font-family: "Monoton", cursive;
  color: rgb(88, 179, 148);
}

.nav-title:hover {
  text-decoration: none;
  color: rgb(36, 141, 106);
}

.nav-categorie:hover {
  text-decoration: none;
}

.nav-button {
  display: none;
  background-color: rgb(88, 179, 148);
  width: 40px;
  height: 35px;
  margin: 0 auto;
  border: 0;
  border-radius: 10px;
}

.nav-button:hover {
  background-color: rgb(36, 141, 106);
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0 auto;
}

.nav-li {
  color: #fff;
  font-family: "Bebas Neue", cursive;
  font-weight: 200;
  font-size: 20px;
  margin-top: 10px;
}

.nav-li:hover {
  color: rgb(88, 179, 148);
  cursor: pointer;
}

.nav-user {
  color: rgb(88, 179, 148);
  font-family: "Bebas Neue", cursive;
  font-weight: 200;
  font-size: 20px;
  margin-top: 10px;
  text-decoration: underline rgb(88, 179, 148);
}

.nav-user:hover {
  color: rgb(36, 141, 106);
  cursor: pointer;
  text-decoration: underline rgb(36, 141, 106);
}

/*----------  POST  ----------*/
.container-post {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  padding: 15px;
  /*border: 1px solid palevioletred;*/
}

.categorie-post {
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: underline;
  color: #1d1f4c;
  margin-bottom: 5px;
}

.title-post {
  text-align: start;
  font-family: "Bebas Neue", cursive;
  color: #1d1f4c;
  font-size: 45px;
}

.data-post-container {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  margin-bottom: 10px;
}

.data-post {
  margin-right: 30px;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  font-weight: 500;
}

.subtitle-post {
  text-align: start;
  font-family: "STIX Two Math", serif;
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 20px;
}

.img-post {
  width: 100%;
  margin-bottom: 50px;
}

.content-post {
  text-align: start;
  font-family: "STIX Two Math", serif;
  font-size: 18px;
  font-weight: 100;
  line-height: 25px;
  margin: 0 45px 40px 45px;
}

.content-post strong {
  font-weight: bold;
}

/*---------- COMMENTS ----------*/
.comments-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  color: #1d1f4c;
  margin: 20px;
  text-decoration: underline #1d1f4c;
}

.comment-list {
  width: 90%;
  max-width: 900px;
  margin: 50px auto;
  /* border: 1px solid red; */
}

.comment-container {
  width: 100%;
}

.comment-user-box {
  height: 65px;
  padding: 15px;
  border: 0.5px solid #1d1f4c;
  border-top-left-radius: 100% 1100%;
  border-bottom-left-radius: 100% 1100%;
}

.comment-user-img {
  width: 59px;
  border-radius: 50%;
  margin-top: -13px;
  margin-left: -13px;
}

.comment-user-name {
  margin-top: -43px;
  margin-left: 60px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #1d1f4c;
}

.comment-date {
  text-align: end;
  margin-top: -44px;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.comment-content {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  margin: 15px 0 50px 40px;
  word-wrap: break-word;
}

.comment-txt {
  width: 100%;
  height: 120px;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  resize: none;
}

.comment-btn {
  width: 100%;
  height: 40px;
  margin-bottom: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  background-color: #1d1f4c;
  color: #fff;
  border: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.comment-btn:hover {
  color: rgb(88, 179, 148);
}

/*----------  CARD (POST LIST) ----------*/

.container-card {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  /*border: 1px solid red;*/
}

.row-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.col-card {
  width: 30%;
  background: #fff;
  margin-bottom: 50px;
}

.img-card {
  width: 100%;
  height: 165px;
}

.title-card {
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  padding: 0;
}

.subtitle-card {
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: bold;
  margin-top: 5px;
}

/*---------- CREATE POST ----------*/
.container-create-post {
  width: 100%;
  max-width: 1300px;
  margin: 20px auto;
  padding: 15px;
  /* border: 1px solid palevioletred; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categorie-select {
  width: 90%;
  height: 45px;
  padding: 7px;
  margin-bottom: 40px;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

/*---- LOGIN-REGISTER FORM ----*/

.container-register {
  width: 60%;
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid #1d1f4c;
}

.container-login {
  width: 60%;
  max-width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 1px solid #1d1f4c;
}

.title-form {
  margin-bottom: 25px;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: #1d1f4c;
}

.input-form {
  width: 90%;
  height: 45px;
  padding: 7px;
  margin-bottom: 40px;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

.input-form:focus {
  outline: 0.5px solid rgb(88, 179, 148);
  border: 0.5px solid rgb(88, 179, 148);
  box-shadow: 0 0 10px rgb(88, 179, 148);
}

.input-form.invalid {
  outline: 0.5px solid red;
  border: 0.5px solid red;
  box-shadow: 0 0 10px red;
}

.input-form.valid {
  outline: 0.5px solid rgb(3, 167, 3);
  border: 0.5px solid rgb(3, 167, 3);
  box-shadow: 0 0 10px rgb(3, 167, 3);
}

.alert-form {
  width: 90%;
  height: 60px;
  padding-top: 20px;
  margin-bottom: 30px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(228, 96, 96);
  color: black;
  text-align: center;
}

.container-login a {
  color: rgb(27, 106, 133);
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  margin-top: 20px;
  text-decoration: none;
}

.container-login a:hover {
  text-decoration: underline rgb(27, 106, 133);
}

.btn-form {
  width: 90%;
  height: 45px;
  margin-top: 20px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  background-color: #1d1f4c;
  color: #fff;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.btn-form:hover {
  color: rgb(88, 179, 148);
}

/*---- FOOTER ----*/
.footer {
  background-color: #1d1f4c;
  width: 100%;
  height: 120px;
  margin-top: 100px;
  margin-top: auto;
}

/*----------  MEDIA QUERYS  ----------*/

@media screen and (max-width: 1024px) {
  /*---- CARD ----*/
  .col-card {
    width: 45%;
  }

  .img-card {
    height: 230px;
  }

  /*---- TAGS ----*/
  h3 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  /*---- LOGIN-REGISTER FORM ----*/
  .container-register {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  /*---- CARD ----*/
  .container-card {
    width: 85%;
  }

  .col-card {
    width: 100%;
  }

  .img-card {
    height: 330px;
  }

  .title-card {
    margin: 7px;
    font-size: 40px;
  }

  .subtitle-card {
    margin: 7px;
    font-size: 14px;
  }

  /*---- LOGIN-REGISTER FORM ----*/
  .container-register {
    width: 95%;
  }

  .container-login {
    width: 95%;
  }

  .input-form {
    width: 100%;
  }

  .categorie-select {
    width: 100%;
  }

  /*---- TAGS ----*/

  h3 {
    font-size: 35px;
  }

  p {
    font-size: 18px;
  }

  /*---- NAVBAR ----*/

  #hidden {
    display: flex;
    position: absolute;
    left: 0;
    top: 125px;
    height: 800px;
    width: 50%;
    background-color: #1d1f4c;
    flex-direction: column;
    align-items: flex-start;
  }

  .m-navbar {
    height: 125px;
  }

  .container-nav {
    margin: 0, auto;
    max-width: auto;
    text-align: unset;
  }

  .nav-title {
    margin-left: -10px;
    font-size: 70px;
  }

  .nav-button {
    display: flex;
    width: 50px;
    height: 50px;
    margin-top: 25px;
  }

  .nav-ul {
    display: none;
  }

  .nav-li {
    margin-left: 35px;
    margin-bottom: 15px;
    font-size: 35px;
  }

  .nav-user {
    margin-left: 35px;
    margin-bottom: 15px;
    font-size: 30px;
  }

  /*---- POSTS ----*/
  .content-post {
    margin-left: 0;
    margin-right: 0;
  }

  /*---- COMMENTS ----*/
  .comment-list {
    width: 100%;
  }

  .comment-user-box {
    border-top-left-radius: 100% 900%;
    border-bottom-left-radius: 100% 900%;
  }

  .comment-content {
    font-size: 15px;
  }
}

@media screen and (max-width: 425px) {
  /*---- NAVBAR ----*/
  #hidden {
    top: 90px;
  }

  .m-navbar {
    height: 100px;
  }

  .nav-button {
    height: 37px;
    width: 37px;
    margin-top: 18px;
  }

  .nav-title {
    font-size: 50px;
  }

  /*---- CARD ----*/
  .container-card {
    width: 100%;
  }

  .img-card {
    height: 230px;
  }

  .title-card {
    font-size: 38px;
  }

  .subtitle-card {
    font-size: 13px;
  }

  /*---- POST ----*/
  .container-post {
    width: 100%;
  }

  .categorie-post {
    font-size: 18px;
  }

  .title-post {
    font-size: 40px;
  }

  .data-post {
    font-size: 12px;
  }

  .subtitle-post {
    font-size: 18px;
  }

  .img-post {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .content-post {
    font-size: 14px;
    line-height: 15px;
    margin: 20px 10px 0 10px;
  }

  .content-post p {
    font-size: 14px;
  }

  /*---- COMMENTS ----*/
  .comments-title {
    font-size: 20px;
    margin: 5px;
  }

  .comment-txt {
    width: 100%;
    height: 80px;
    font-size: 14px;
    margin-top: -25px;
  }

  .comment-btn {
    height: 35px;
    font-size: 16px;
  }

  .comment-user-box {
    height: 50px;
    border-top-left-radius: 100% 700%;
    border-bottom-left-radius: 100% 700%;
  }

  .comment-user-img {
    width: 46px;
    margin-top: -14px;
    margin-left: -14px;
  }

  .comment-user-name {
    margin-top: -32px;
    margin-left: 40px;
    font-size: 13px;
  }

  .comment-date {
    margin-top: -32px;
    font-size: 10px;
  }

  .comment-content {
    margin: 5px 0 20px 40px;
    font-size: 10px;
  }
}

@media screen and (max-width: 375px) {
  /*---- NAVBAR ----*/
  #hidden {
    top: 80px;
  }

  .m-navbar {
    height: 85px;
  }

  .nav-button {
    height: 33px;
    width: 33px;
    margin-top: 16px;
  }

  .nav-title {
    font-size: 45px;
  }

  .nav-li {
    margin-left: 28px;
    margin-bottom: 15px;
    font-size: 25px;
  }

  .nav-user {
    margin-left: 28px;
    margin-bottom: 15px;
    font-size: 25px;
  }

  /*---- CARD ----*/
  .img-card {
    height: 210px;
  }

  .title-card {
    font-size: 35px;
  }

  /*---- POST ----*/
  .categorie-post {
    font-size: 18px;
  }

  .title-post {
    font-size: 40px;
  }

  .data-post {
    font-size: 12px;
  }

  .subtitle-post {
    font-size: 18px;
  }

  .content-post {
    font-size: 13px;
    line-height: 15px;
    margin: 20px 10px 0 10px;
  }

  .content-post p {
    font-size: 13px;
  }

  /*---- COMMENTS ----*/
  .comments-title {
    font-size: 20px;
    margin: 5px;
  }

  .comment-txt {
    width: 100%;
    height: 60px;
    font-size: 12px;
    margin-top: -25px;
  }

  .comment-btn {
    height: 30px;
    font-size: 15px;
  }

  .comment-user-box {
    height: 50px;
    border-top-left-radius: 100% 670%;
    border-bottom-left-radius: 100% 670%;
  }

  .comment-user-img {
    width: 46px;
    margin-top: -14px;
    margin-left: -14px;
  }

  .comment-user-name {
    margin-top: -32px;
    margin-left: 40px;
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  /*---- NAVBAR ----*/
  #hidden {
    top: 80px;
  }

  .m-navbar {
    height: 80px;
  }

  .nav-button {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 13px;
  }

  .nav-title {
    font-size: 40px;
  }

  .nav-li {
    margin-left: 28px;
    margin-bottom: 15px;
    font-size: 25px;
  }

  .nav-user {
    margin-left: 28px;
    margin-bottom: 15px;
    font-size: 25px;
  }

  /*---- CARD ----*/
  .img-card {
    height: 180px;
  }

  .title-card {
    font-size: 30px;
  }

  /*---- POST ----*/
  .categorie-post {
    font-size: 15px;
  }

  .title-post {
    font-size: 35px;
  }

  .data-post {
    font-size: 12px;
  }

  .subtitle-post {
    font-size: 18px;
  }

  .content-post {
    font-size: 12px;
    line-height: 15px;
    margin: 20px 10px 0 10px;
  }

  .content-post p {
    font-size: 12px;
  }

  /*---- COMMENTS ----*/
  .comments-title {
    font-size: 20px;
    margin: 5px;
  }

  .comment-txt {
    width: 100%;
    height: 60px;
    font-size: 12px;
    margin-top: -25px;
  }

  .comment-btn {
    height: 30px;
    font-size: 15px;
  }

  .comment-user-box {
    height: 50px;
    border-top-left-radius: 100% 600%;
    border-bottom-left-radius: 100% 600%;
  }

  .comment-user-img {
    width: 45px;
  }

  .comment-user-name {
    margin-top: -32px;
    margin-left: 40px;
    font-size: 13px;
  }
}
